.Rhistory
.RData
.Rproj.user
_book
_bookdown_files
*.rds
*.key
hello-ninja.html
hand-seals-印.html
css-1.html
css.html
get-started.html
hello-world.html
html-widgets.html
libs
macros-continued.html
macros.html
math-expressions.html
naruto-terminology.html
r-code.html
r-plots.html
remark-js-vs-xaringan.html
remark-js.html
sharingan.html
some-tips-1.html
some-tips-2.html
some-tips-3.html
some-tips-4.html
some-tips-5.html
some-tips-6.html
some-tips-7.html
some-tips.html
tables.html
thanks.html
themes-1.html
themes.html
using-xaringan.html
xarin_sample.Rmd
xarin_sample_files
xaringan.html
